@import url('../fuentes/conmebol.css');

/* Estilos Generales */
body {
  font-family: 'Conmebol';
  margin: 0;
  padding: 0;
  background-color: #000000; /* Fondo negro */
  color: #000; /* Letras doradas */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-size: 1rem; /* Base en em */
}

.aviso {position: absolute;top: 3em;background: var(--gold-gradient);-webkit-background-clip: text;-webkit-text-fill-color: transparent;font-weight: 700;}

/* Colores */
:root {
  --gold-gradient: linear-gradient(45deg, #FFD700, #F8C971, #F1B24D); /* Gradiente dorado */
  --black: #000000; /* Color negro */
  --white: #FFFFFF; /* Color blanco */
  --gray: #888888; /* Gris para textos secundarios */
}

/* Estilo para los títulos */
.fase1 {
  font-size: 2em;
  text-align: center;
  background: var(--gold-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative; /* Cambio de absolute a relative */
  margin-top: 3em; /* Asegura que haya espacio antes de la fase 1 */
  white-space: nowrap;
  margin-bottom: -2.5em;
}

.fase2 {
  font-size: 2em;
  text-align: center;
  background: var(--gold-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative; /* Cambio de absolute a relative */
  margin-bottom: -2.4em; /* Agrega un margen para separar de Fase 1 */
  white-space: nowrap;
}

p {
    background: var(--gold-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fase1, .fase2 {
font-weight: 700;
}

h1 {
  top: 1em;
}

h2 {
  background: var(--gold-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  top: 1.3em;
}

/* Contenedor principal de los partidos */
#fixture {
  margin: 5em 0 2em 0; /* Dejar espacio para los títulos */
  padding: 1em;
  background-color: #000000;
  border-radius: 1em;
  box-shadow: 0 0.25em 1em rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 75em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul.ganadores {border: 0.2em solid #ff0;border-radius: 0.3em;}

img {
    width: 16px;
    height: auto;
    position: relative;
    margin-left: 0.3em;
    top: 0.1em;
}

img.escudoatletico_nacional {
    width: 16px;
    height: auto;
    position: relative;
    margin-left: 0.3em;
    top: 0.15em;
}

img.escudoolimpia {
    width: 18px;
    height: auto;
    position: relative;
    top: 0.06em;
}

img.escudosantos {
    width: 18px;
    height: auto;
    position: relative;
    top: 0.02em;
}

img.escudospi {
    width: 18px;
    height: auto;
    position: relative;
    margin-left: 0.8em;
    top: 0.1em;
}

img.escudoaaj {
    width: 18px;
    height: auto;
    position: relative;
    margin-left: 0.8em;
    top: 0.06em;
}

img.escudoan {
    width: 16px;
    height: auto;
    position: relative;
    margin-left: 0.8em;
    top: 0.15em;
}

li {
    background: var(--gold-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5em;
    font-weight: 700;
    text-align: justify;
}

.equipo {
    border: 0.1em solid #ff0;
    margin-left: -1.7em;
    padding-right: 0.2em;
}

.tipopartido {
  font-weight: 400;
  position: absolute;
  left: 1em;
  font-size: 1.4em;
  color: #fff;
  text-align: center;
}

p {
  background: var(--gold-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: justify;
  font-weight: 600;
}

/* Partidos */
.partido {
  background: var(--gold-gradient);
  border-radius: 0.3em;
  margin-bottom: 0.8em;
  position: relative;
  width: 46em;
  max-width: 60em;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.3);
}

.tipopartido {
color: #000;
font-weight: 600;
}

/* Equipos */
.equipo1, .equipo2 {
  position: absolute;
  text-align: justify;
  width: 50%; /* Ocupa la mitad */
  font-size: 1.2em;
  font-weight: 700;
  left: 16em;
}

.equipo1 {
  left: 3em;
}

.equipo2 {
  right: 6.6em;
}

.equipo1 p, .equipo2 p {
  font-size: 1.2em;
  color: #000000;
  text-overflow: ellipsis;
  margin: 0 5.6em;
  font-weight: 700;
  text-align: center;
}

.equipo2 {
}

/* Resultado */
.resultado {
  position: absolute;
  text-align: center;
  font-size: 1.7em;
  font-weight: bold;
  color: #000000;
  top: 50%;
  transform: translateY(-50%);
  left: 45.1%;
}

.rguion {
  position: absolute;
  text-align: center;
  font-size: 1.7em;
  font-weight: bold;
  color: #000000;
  top: 50%;
  transform: translateY(-50%);
  left: 48.1%;
}

/* Fechas */
.fecha {
  font-size: 1.6em;
  color: #000000;
  margin-top: 0;
  text-align: center;
  margin-left: 22em;
  font-weight: 700;
}

/* Responsividad */
@media (max-width: 48em) {
  h1 {
    font-size: 2em;
  }

  .partido {
    flex-direction: column;
    text-align: center;
    width: 100%;
  }

  .equipo1 p, .equipo2 p {
    font-size: 1.2em;
    margin: 0.5em 0;
  }

  .resultado {
    font-size: 1.4em;
  }

  .fecha {
    font-size: 1em;
  }
}

@media (max-width: 36em) {
  h1 {
    font-size: 1.8em;
  }

  header {
    padding: 1.2em 1.5em;
  }

  .partido {
    width: 90%;
  }

  .equipo1 p, .equipo2 p {
    font-size: 1.1em;
  }

  .resultado {
    font-size: 1.2em;
  }

  .fecha {
    font-size: 0.9em;
  }
}

.penales {
    color: #000;
    font-weight: 600;
    margin-left: -4em;
    position: absolute;
    top: 2.6em;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #333;
  font-size: 1em;
}

.navbar li {
  padding: 0.625em 1.25em; /* 10px 20px en em */
}

.navbar a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1em;
  background: var(--gold-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  transition: opacity 0.3s ease;
}

.navbar a:hover {
  opacity: 0.8;
}

/* Responsive: cambia a menú vertical en pantallas pequeñas */
@media (max-width: 48em) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar li {
    padding: 0.5em;
  }
}

.logocanal {
  width: 1.2em;
  margin-bottom: -0.1em;
  margin-left: 0.5em;
}

img .escudo {
    width: 10px; /* Unidades relativas al ancho de la ventana */
    height: 10px; /* Mantiene la relación de aspecto */
    position: absolute;
    left: 35%; /* Asegura que el elemento se mueva de acuerdo al ancho de la pantalla */
    margin-top: 0.1em;
}

li.equipoindependiente, li.equipoboca, li.equipopeñarol, li.equiporiver, li.equipoestudiantes, 
li.equiposaopaulo, li.equiposantos, li.equipoflamengo, li.equipopalmeiras, li.equipoolimpia,
li.equipoatleticonacional, li.equipogremio, li.equiponacional, li.equipocruzeiro, 
li.equipointernacional, li.equipooncecaldas, li.equipoldiquito, li.equipovelezsarsfield, 
li.equipocolocolo, li.equipovascomag, li.equiporacing, li.equipoargentinosjuniors,
li.equisantos, li.equipoadvanced, li.equipofluiminense, li.equipocolo, li.equipoatleticnacional, li.equipovasco{
    border-bottom: 0.1em solid #ff0;
}

.equipobotafogo {
    border-bottom: none;
}